* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  height: 600px;
  width: 600px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 8px black;
}

.container .questionsGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: inherit;
  padding-left: 14px;
  padding-right: 14px;
}

.questionsGrid h2:first-child {
  margin-top: 15px;
}

.questionsGrid .header {
  display: flex;
  width: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.questionsGrid .topic {
  background-color: #252525;
  padding: 7px 7px;
  margin-left: 15px;
  border-radius: 5px;
}

.questionsGrid .questionNum {
  margin-right: 15px;
  background-color: #252525;
  padding: 7px 7px;
  border-radius: 5px;
}

.questionsGrid .questions {
  width: inherit;
  margin-top: 39px;
  padding-top: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.questions .question {
  display: flex;
  width: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 12px;
}

.currentQ {
  background-color: rgb(22, 21, 19);
  display: flex;
  align-items: center;
  position: relative;
  width: 490px;
  height: 65px;
  font-size: 0.96rem;
  color: white;
  padding: 5px 7px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 8px blue;
  border-radius: 5px;
}

.currentQ p {
  width: 83%;
}

.currentQ .answerPlate {
  border: none;
  justify-content: flex-end;
  height: inherit;
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.currentQ .answerPlate option {
  background-color: #252525;
}

.currentQ.correct {
  border: 3px solid green;
}

.currentQ.incorrect {
  border: 3px solid red;
}

.questionsGrid .displayBtn {
  border: none;
  outline: none;
  padding: 8px 19px;
  background-color: deeppink;
  font-weight: bolder;
  width: 300px;
  border-radius: 6px;
  margin: 18px 0;
}

.container .notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blueviolet;
}

.notFound h2 {
  font-size: 1.8rem;
  margin-left: 40px;
  color: red;
}

.notFound h3 {
  font-size: 1.4rem;
  margin-left: 37px;
  margin-top: 10px;
  display: flex;
  text-align: center;
}

.container .questionsGrid.hide {
  display: none;
}

.container .notFound.hide {
  display: none;
}