@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Roboto";
}

.container {
  height: 549px;
  width: 550px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 8px black;
  position: relative;
  padding: 10px;
}

.container h2 {
  margin-top: 10px;
  font-size: 1.6rem;
  color: blue;
}

.infoGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  margin-top: 10px;
}

.infoGrid .topic {
  background-color: green;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px 7px;
  border-radius: 2px;
}

.infoGrid .questionNum {
  background-color: red;
  color: white;
  margin-right: 10px;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 2px;
  font-size: 1rem;
}

.container .question {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: center;
  width: 97%;
  margin-top: 20px;
  padding: 14px;
  font-size: 0.98rem;
  border-radius: 12px;
  font-weight: 900;
}

.container .options {
  width: inherit;
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.options .option {
  background-color: rgb(49, 37, 24);
  color: white;
  padding: 16px 0px 16px 20px;
  display: flex;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
  font-weight: 800;
}

.options .option:hover {
  border: 2px solid blueviolet;
}

.options .option.incorrect {
  border: 3px solid red;
  background-color: rgba(255, 0, 0, 0.491);
}

.options .option.correct {
  border: 3px solid rgb(52, 181, 37);
  background-color: rgba(0, 128, 0, 0.306);
}

.options .option.unanswered {
  pointer-events: none;
}

.container button {
  background-color: rgb(203, 17, 17);
  border: none;
  color: white;
  margin-top: 35px;
  margin-bottom: 2px;
  width: 150px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  height: 37px;
}

.container .progressBar {
  width: inherit;
  position: absolute;
  bottom: 0;
  height: 5px;
  background-color: white;
  border-radius: 10px;
}

.progressBar .progress {
  width: 0;
  background-color: blue;
  height: inherit;
  border-radius: inherit;
}

@media (max-width:700px) {
  .container {
    width: 530px;
  }

  .container .question {
    margin-top: 20px;
    padding: 14px;
    font-size: 0.98rem;
    width: 97%;
  }
}